<aside class="cart-modal">
  <div class="upper-cart-con">
    <span>Quick Shop</span>
    <button type="button" class="close-cart-modal">X</button>
  </div>
  <div class="middle-cart-con">
    <div class="product-summary">
      <div>
        <img src="" alt="product-image" />
        <div>
          <span class="product-title">PRoduct title</span>
          <span class="product-color">selected color</span>
          <span class="product-price">Product price</span>
          <span class="product-condition">Condition</span>
        </div>
      </div>
      <button type="button">View product details</button>
    </div>
    <div class="color-size-select">
      <p>Color<span>selected color</span></p>
      <div class="color-select">
        <label class="color-label">
          <input
            type="radio"
            name="color"
            value="black"
            id="black"
            aria-label="black"
            checked
          />
          <span class="checkmark black"></span>
        </label>
        <label class="color-label">
          <input
            type="radio"
            name="color"
            value="white"
            id="white"
            aria-label="white"
            checked
          />
          <span class="checkmark white"></span>
        </label>
        <label class="color-label">
          <input
            type="radio"
            name="color"
            value="cream"
            id="cream"
            aria-label="cream"
            checked
          />
          <span class="checkmark cream"></span>
        </label>
        <label class="color-label">
          <input
            type="radio"
            name="color"
            value="pink"
            id="pink"
            aria-label="pink"
            checked
          />
          <span class="checkmark pink"></span>
        </label>
        <label class="color-label">
          <input
            type="radio"
            name="color"
            value="black"
            id="green"
            aria-label="green"
            checked
          />
          <span class="checkmark green"></span>
        </label>
        <label class="color-label">
          <input
            type="radio"
            name="color"
            value="blue"
            id="blue"
            aria-label="blue"
            checked
          />
          <span class="checkmark blue"></span>
        </label>
      </div>
      <p class="size-indicator">Size<span>selected size</span></p>
      <fieldset class="size-fieldset">
        <label>
          <input type="radio" name="size" value="xs" />
          <span class="size-check">XS</span>
        </label>
        <label>
          <input type="radio" name="size" value="s" />
          <span class="size-check">S</span>
        </label>
        <label>
          <input type="radio" name="size" value="m" />
          <span class="size-check">M</span>
        </label>
        <label>
          <input type="radio" name="size" value="l" />
          <span class="size-check">L</span>
        </label>
        <label>
          <input type="radio" name="size" value="xl" />
          <span class="size-check">XL</span>
        </label>
        <label>
          <input type="radio" name="size" value="2xl" />
          <span class="size-check">2XL</span>
        </label>
        <label>
          <input type="radio" name="size" value="3xl" />
          <span class="size-check">3XL</span>
        </label>
        <label>
          <input type="radio" name="size" value="4xl" />
          <span class="size-check">4XL</span>
        </label>
      </fieldset>
    </div>
  </div>
  <div class="bottom-cart-con">
    <div>
      <button type="button">-</button>
      <span>0</span>
      <button type="button">+</button>
    </div>
    <button type="button" class="add-item">Add To Cart</button>
  </div>
</aside>
