<section class="cart-second-sec">
  <div class="summary-left-container">
    <p>Your Items</p>
    <ul class="cart-summary-list">
      <li>
        <img src="" alt="article-image" class="summary-cart-article-image" />
        <div class="summary-article-details">
          <p class="summary-title">Knit sweater</p>
          <p class="summary-color">Color: <span>WHITE</span></p>
          <p class="summary-size">Size: <span>M</span></p>
          <p class="summary-condition">Condition: <span>NEW</span></p>
        </div>
        <div class="summary-article-opt">
          <p class="summary-price">$<span>000</span></p>
          <div>
            <button type="button" id="summary-decrease-count">-</button>
            <span id="summary-cart-count">1</span>
            <button type="button" id="summary-increase-count">+</button>
          </div>
          <button type="button" id="delete-item">
            <img
              src="./images/cart/secondSection/delete.svg"
              alt="delete-button"
            />
          </button>
        </div>
      </li>
      <li>
        <img src="" alt="article-image" class="summary-cart-article-image" />
        <div class="summary-article-details">
          <p class="summary-title">Knit sweater</p>
          <p class="summary-color">Color: <span>WHITE</span></p>
          <p class="summary-size">Size: <span>M</span></p>
          <p class="summary-condition">Condition: <span>NEW</span></p>
        </div>
        <div class="summary-article-opt">
          <p class="summary-price">$<span>000</span></p>
          <div>
            <button type="button" id="summary-decrease-count">-</button>
            <span id="summary-cart-count">1</span>
            <button type="button" id="summary-increase-count">+</button>
          </div>
          <button type="button" id="delete-item">
            <img
              src="./images/cart/secondSection/delete.svg"
              alt="delete-button"
            />
          </button>
        </div>
      </li>
      <li>
        <img src="" alt="article-image" class="summary-cart-article-image" />
        <div class="summary-article-details">
          <p class="summary-title">Knit sweater</p>
          <p class="summary-color">Color: <span>WHITE</span></p>
          <p class="summary-size">Size: <span>M</span></p>
          <p class="summary-condition">Condition: <span>NEW</span></p>
        </div>
        <div class="summary-article-opt">
          <p class="summary-price">$<span>000</span></p>
          <div>
            <button type="button" id="summary-decrease-count">-</button>
            <span id="summary-cart-count">1</span>
            <button type="button" id="summary-increase-count">+</button>
          </div>
          <button type="button" id="delete-item">
            <img
              src="./images/cart/secondSection/delete.svg"
              alt="delete-button"
            />
          </button>
        </div>
      </li>
      <li>
        <img src="" alt="article-image" class="summary-cart-article-image" />
        <div class="summary-article-details">
          <p class="summary-title">Knit sweater</p>
          <p class="summary-color">Color: <span>WHITE</span></p>
          <p class="summary-size">Size: <span>M</span></p>
          <p class="summary-condition">Condition: <span>NEW</span></p>
        </div>
        <div class="summary-article-opt">
          <p class="summary-price">$<span>000</span></p>
          <div>
            <button type="button" id="summary-decrease-count">-</button>
            <span id="summary-cart-count">1</span>
            <button type="button" id="summary-increase-count">+</button>
          </div>
          <button type="button" id="delete-item">
            <img
              src="./images/cart/secondSection/delete.svg"
              alt="delete-button"
            />
          </button>
        </div>
      </li>
      <li>
        <img src="" alt="article-image" class="summary-cart-article-image" />
        <div class="summary-article-details">
          <p class="summary-title">Knit sweater</p>
          <p class="summary-color">Color: <span>WHITE</span></p>
          <p class="summary-size">Size: <span>M</span></p>
          <p class="summary-condition">Condition: <span>NEW</span></p>
        </div>
        <div class="summary-article-opt">
          <p class="summary-price">$<span>000</span></p>
          <div>
            <button type="button" id="summary-decrease-count">-</button>
            <span id="summary-cart-count">1</span>
            <button type="button" id="summary-increase-count">+</button>
          </div>
          <button type="button" id="delete-item">
            <img
              src="./images/cart/secondSection/delete.svg"
              alt="delete-button"
            />
          </button>
        </div>
      </li>
    </ul>
    <div class="summary-totals">
      <p>Subtotal: <span class="summary-subtotal">$00</span></p>
      <p>Delivery fee: <span class="summary-del-fee">$00</span></p>
      <p>Estimated tax: <span class="summary-tax">$00</span></p>
      <p>Total: <span class="summary-total">$00</span></p>
    </div>
  </div>
  <div class="summary-right-container">
    <div>
      <p>Order details</p>
      <div>
        <img src="./images/cart/secondSection/secure.svg" alt="lock-icon" />
        <p>Secure checkout powered by Luxuria</p>
      </div>
    </div>
    <div>
      <p>Payment</p>
      <div>
        <img
          src="./images/cart/secondSection/delivery-fast.svg"
          alt="shipping-icon"
        />
        <p>Free shipping on all orders</p>
      </div>
      <div>
        <img
          src="./images/cart/secondSection/secure-shield.svg"
          alt="shield-icon"
        />
        <p>Secure payment</p>
      </div>
      <div>
        <img
          src="./images/cart/secondSection/return-box-shipping.svg"
          alt="return-icon"
        />
        <p>Easy 30-days return</p>
      </div>
    </div>
    <div>
      <p>Need help?</p>
      <span>Our team is here for you.</span>
      <div>
        <img src="./images/cart/secondSection/email.svg" alt="email-icon" />
        <a href="#" class="mail-to">support@luxuria.com</a>
      </div>
    </div>
    <div>
      <a href="" class="to-checkout">Proceed to checkout <span>→</span></a>
    </div>
    <div>
      <a href="" class="continue-shopping">← <span>Continue shopping</span></a>
    </div>
  </div>
</section>
