<section class="cart-second-sec">
  <div class="summary-left-container">
    <p>Your Items</p>
    <div id="loading-product" class="product-loading" hidden>
      <div class="product-spinner"></div>
      <p>Retrieving data...</p>
    </div>
    <ul class="cart-summary-list"></ul>
    <div class="summary-totals">
      <p>Subtotal: <span class="summary-subtotal">00</span></p>
      <p>Delivery fee: <span class="summary-del-fee">00</span></p>
      <p>Estimated tax: <span class="summary-tax">00</span></p>
      <p>Total: <span class="summary-total">00</span></p>
    </div>
  </div>
  <div class="summary-right-container">
    <div>
      <p>Order details</p>
      <div>
        <img src="./images/cart/secondSection/secure.svg" alt="lock-icon" />
        <p>Secure checkout powered by Luxuria</p>
      </div>
    </div>
    <div>
      <p>Payment</p>
      <div>
        <img
          src="./images/cart/secondSection/delivery-fast.svg"
          alt="shipping-icon"
        />
        <p>Free shipping on all orders</p>
      </div>
      <div>
        <img
          src="./images/cart/secondSection/secure-shield.svg"
          alt="shield-icon"
        />
        <p>Secure payment</p>
      </div>
      <div>
        <img
          src="./images/cart/secondSection/return-box-shipping.svg"
          alt="return-icon"
        />
        <p>Easy 30-days return</p>
      </div>
    </div>
    <div>
      <p>Need help?</p>
      <span>Our team is here for you.</span>
      <div>
        <img src="./images/cart/secondSection/email.svg" alt="email-icon" />
        <a href="#" class="mail-to">support@luxuria.com</a>
      </div>
    </div>
    <div>
      <a href="" class="to-checkout">Proceed to checkout <span>→</span></a>
    </div>
    <div>
      <a href="" class="continue-shopping">← <span>Continue shopping</span></a>
    </div>
  </div>
</section>
