<div class="login-overlay">
  <div class="login-modal">
    <button class="close-login" type="button">×</button>

    <h2>Welcome Back</h2>
    <p>Login to continue your shopping.</p>
    <form class="login-form">
      <input
        type="email"
        placeholder="Email"
        autocomplete="email"
        id="email-input"
      />
      <input type="password" placeholder="Password" id="password-input" />

      <div>
        <input type="checkbox" value="lsRememberMe" id="rememberMe" />
        <label for="rememberMe">Remember me</label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit" class="login-btn">LOGIN</button>
    </form>
  </div>
  <div class="login-form-lower">
    <p class="or-divider"><span>or continue with</span></p>
    <button type="button" class="google-login-btn">
      <img src="images/google-logo.svg" alt="google-icon" />
      <span>Continue with Google</span>
    </button>
    <p class="to-create-acnt">
      Don't have any account?
      <button type="button" class="create-account-btn">
        Create an account
      </button>
    </p>
  </div>
</div>
