<aside class="user-window">
  <div class="logged-user">
    <img src="../../images/index/secondSection/mens.webp" alt="user-image" />
    <div>
      <span>User name sdsdsdsdsdsdsdasdddddddddddddddddd</span>
      <span>User email</span>
    </div>
  </div>
  <ul class="settings-opt">
    <li>
      <img src="../../images/nav/user-svgrepo-com.svg" alt="user-icon" />
      <a href="#">My Account</a>
    </li>
    <li>
      <img src="../../images/nav/bag-svgrepo-com.svg" alt="user-icon" />
      <a href="#">My Orders</a>
    </li>
    <li>
      <img src="../../images/nav/heart-svgrepo-com.svg" alt="user-icon" />
      <a href="#">My Wishlists</a>
    </li>
    <li>
      <img
        src="../../images/login-create/location-pin-alt-1-svgrepo-com.svg"
        alt="user-icon"
      />
      <a href="#">Address Book</a>
    </li>
    <li>
      <img
        src="../../images/login-create/credit-card-business-payment-finance-banking-svgrepo-com.svg"
        alt="user-icon"
      />
      <a href="#">Payment Method</a>
    </li>
    <li>
      <img
        src="../../images/login-create/setting-svgrepo-com.svg"
        alt="user-icon"
      />
      <a href="#">Settings</a>
    </li>
  </ul>
  <div class="logout-container">
    <img
      src="../../images/login-create/logout-svgrepo-com.svg"
      alt="logout-icon"
    />
    <button type="button" class="logout">Logout</button>
  </div>
</aside>
