<section class="index-fourth-sect">
  <div id="loading-product" class="product-loading" hidden>
    <div class="product-spinner"></div>
    <p>Retrieving data...</p>
  </div>
  <div class="fourth-upper-con"></div>

  <ul class="fourth-bottom-con">
    <li data-indexCard="card 1">
      <img
        src="./images/index/fourthSection/green-world-package-packet-svgrepo-com.svg"
        alt="sustainable-icon"
      />
      <div>
        <span>Sustainable</span>
        <small>Conscious fasshion</small>
      </div>
    </li>
    <li data-indexCard="card 2">
      <img
        src="./images/index/fourthSection/premium-svgrepo-com.svg"
        alt="premium-icon"
      />
      <div>
        <span>Premium Quality</span>
        <small>Build to last</small>
      </div>
    </li>
    <li data-indexCard="card 3">
      <img
        src="./images/index/fourthSection/location-arrow-svgrepo-com.svg"
        alt="location-icon"
      />
      <div>
        <span>Designed In</span>
        <small>New York</small>
      </div>
    </li>
    <li data-indexCard="card 4">
      <img src="./images/nav/heart-svgrepo-com.svg" alt="heart-icon" />
      <div>
        <span>Customer Love</span>
        <small>4.5/5 Rating</small>
      </div>
    </li>
  </ul>
</section>
