<section class="index-third-sect">
  <h3>New Arrivals</h3>
  <a href="#">View all</a>
  <ul class="new-product-list">
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 1</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 2</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 3</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 4</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 5</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product2.jpg" alt="product-1" />
      <span class="product-title">Product 1</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 2</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 3</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 4</span>
      <p class="product-price">$89.99</p>
    </li>
    <li>
      <div class="heart-cont">
        <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-off" />
        <!-- <img src="" alt="heart-on" /> -->
      </div>
      <img src="../../images/index/thirdSection/product1.png" alt="product-1" />
      <span class="product-title">Product 5</span>
      <p class="product-price">$89.99</p>
    </li>
  </ul>
</section>
