<section class="index-second-sect">
  <ul class="second-sect-upper">
    <li>
      <img
        src="./images/index/secondSection/delivery-fast-svgrepo-com.svg"
        alt="delivery-icon"
      />
      <div>
        <span>Free Shipping</span>
        <small>On orders over $200</small>
      </div>
    </li>
    <li>
      <img
        src="./images/index/secondSection/return-svgrepo-com.svg"
        alt="return-icon"
      />
      <div>
        <span>Easy Returns</span>
        <small>14-day return policy</small>
      </div>
    </li>
    <li>
      <img
        src="./images/index/secondSection/secure-payment-svgrepo-com.svg"
        alt="secure-icon"
      />
      <div>
        <span>Secure Payment</span>
        <small>100% secure checkout</small>
      </div>
    </li>
    <li>
      <img
        src="./images/index/secondSection/24-hours-phone.svg"
        alt="support-icon"
      />
      <div>
        <span>24/7 Support</span>
        <small>We're here to help</small>
      </div>
    </li>
  </ul>
  <h3>Shop By Category</h3>
  <ul class="second-sect-lower">
    <li>
      <a href="#"
        ><img src="./images/index/secondSection/mens.png" alt="mens-icon"
      /></a>
      <span>Mens</span>
    </li>
    <li>
      <a href="#"
        ><img src="./images/index/secondSection/womens.png" alt="womens-icon"
      /></a>
      <span>Womens</span>
    </li>
    <li>
      <a href="#"
        ><img src="./images/index/secondSection/dress.png" alt="dresses-icon"
      /></a>
      <span>Dresses</span>
    </li>
    <li>
      <a href="#"
        ><img src="./images/index/secondSection/top.png" alt="tops-icon"
      /></a>
      <span>Tops</span>
    </li>
    <li>
      <a href="#"
        ><img src="./images/index/secondSection/bag.png" alt="bags-icon"
      /></a>
      <span>Bags</span>
    </li>
    <li>
      <a href="#"
        ><img
          src="./images/index/secondSection/accessories.png"
          alt="accessories-icon"
      /></a>
      <span>Accessories</span>
    </li>
  </ul>
</section>
