.index-fourth-sect {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 0;
    position: relative;
}
.fourth-upper-con {
    display: flex;
    gap: 24px;
}
.fourth-upper-con> div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 64px 0;
    position: relative;
}
.fourth-upper-con> div> *:not(:last-child) {
    margin-left: 32px;
    margin-right: 8px;
    color: #fff;
}
.fourth-upper-con> div> span {
    font-size: var(--text-small);
    text-transform: uppercase;
    margin-top: 40px;
}
.fourth-upper-con> div> h3 {
    font-size: var(--heading-small);
}
.fourth-upper-con> div> p {
    font-size: var(--text-base);
    margin-top: 16px;
}
.fourth-upper-con> div> a {
    width: fit-content;
    margin-top: 64px;
    text-transform: uppercase;
    position: relative;
    background: linear-gradient(
        to right,
        #d4af37 50%,
        #fff 50%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.4s ease;
}
.fourth-upper-con> div> a:hover {
    background-position: 0, 0;
}
.fourth-upper-con> div> a::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: #fff;
    background: linear-gradient(
        to right,
        #d4af37 50%,
        #fff 50%
    );
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.4s ease;
}
.fourth-upper-con> div> a:hover::after {
    background-position: 0, 0;
}
.fourth-upper-con> div> img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1;
}
.fourth-bottom-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 32px;
    padding: 32px 0 56px 0;
}
.fourth-bottom-con> li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.fourth-bottom-con> li> img {
    width: 30px;
}
.fourth-bottom-con> li> div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}
.fourth-bottom-con> li> div> span {
    font-size: var(--text-base);
    font-weight: 600;
}
.fourth-bottom-con> li> div> small {
    font-size: var(--text-small);
}
@media only screen and (max-width: 450px) {
    .index-fourth-sect {
        display: flex;
        flex-direction: column;
    }
    .index-fourth-sect> div {
        flex-direction: column;
    }
    .fourth-bottom-con {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        width: 100%;
        display: flex;
        padding: 32px 0 80px 0;
        scroll-snap-type: x mandatory;
        scroll-marker-group: after; /*For pseudo bellow*/
        scroll-behavior: smooth;
        position: relative;
        overflow-x: auto;
        /*Firefox*/
        scrollbar-width: none;
        /*IE/old Edge*/
        -ms-overflow-style: none;
    }
    .fourth-bottom-con::-webkit-scrollbar {
        display: none;
    }
    .fourth-bottom-con> li {
        min-width: 90vw;
        padding: 16px;
        margin: 24px;
        scroll-snap-align: center;
    }
    .fourth-bottom-con::scroll-marker-group {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 16px;
        transition: 0.3s ease;
    }
    .fourth-bottom-con> li::scroll-marker {
        content: attr(data-indexCard); /*data- of each card*/
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.85);
        border-radius: 50%;
        overflow: hidden;
        text-indent: 16px;
        transition: 0.3s ease;
        z-index: 9999;
    }
    .fourth-bottom-con> li::scroll-marker:target-current {
        background-color: #d4af37;
    }
    .fourth-upper-con> div> span {
        margin-top: 0;
    }
}