<nav>
  <div class="upper-nav-con">
    <span>Free Shipping on orders more than $100</span>
    <ul>
      <li>
        <a href="">Help</a>
      </li>
      <li>
        <a href="">Track Order</a>
      </li>
      <li>
        <div class="language-selector">
          <label for="language" class="sr-only">Select language</label>

          <select id="language" name="language">
            <option value="en">ENG</option>
            <option value="ja">JAP</option>
          </select>
        </div>
      </li>
    </ul>
  </div>
  <div class="lower-nav-con">
    <div class="burger-menu-icon">
      <button type="button" class="burger-menu-btn">
        <img
          src="../../images/nav/hamburger-svgrepo-com.svg"
          alt="burger-icon"
        />
      </button>
    </div>
    <div class="web-logo-con"><h1>LUXURIA</h1></div>
    <ul class="nav-links">
      <li class="menu-user-icon">
        <button type="button">
          <img src="../../images/nav/user-svgrepo-com.svg" alt="user-icon" />
        </button>
      </li>
      <li>
        <a href="#">NEW</a>
      </li>
      <li>
        <a href="#">SHOP</a>
      </li>
      <li>
        <a href="#">COLLECTIONS</a>
      </li>
      <li>
        <a href="#">WOMEN</a>
      </li>
      <li>
        <a href="#">MEN</a>
      </li>
      <li>
        <a href="#">ACCESSORIES</a>
      </li>
      <li>
        <a href="#">SALE</a>
      </li>
    </ul>
    <div class="search-info-con">
      <form class="search" role="search">
        <input
          type="search"
          name="search"
          placeholder="Search..."
          aria-label="Search products"
        />
        <button type="submit" aria-label="Search">
          <img
            src="../../images/nav/magnifying-glass-backup-svgrepo-com.svg"
            alt="search-icon"
          />
        </button>
      </form>
      <div class="heart-con">
        <button type="button">
          <img src="../../images/nav/heart-svgrepo-com.svg" alt="heart-icon" />
        </button>
      </div>
      <div class="user-con">
        <button type="button">
          <img src="../../images/nav/user-svgrepo-com.svg" alt="user-icon" />
        </button>
      </div>
      <div class="cart-con">
        <button type="button">
          <img src="../../images/nav/bag-svgrepo-com.svg" alt="cart-icon" />
        </button>
      </div>
    </div>
  </div>
</nav>
