<footer>
  <div class="upper-foot">
    <div>
      <h4>Luxuria</h4>
      <p>
        Discover timeless pieces crafted for those who appreciate refined style,
        quality, and individuality.
      </p>
      <ul class="footer-media">
        <li>
          <a href="#"
            ><img
              src="../../images/footer/linkedin-round-svgrepo-com.svg"
              alt="linkedin-icon"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../../images/footer/facebook-round-svgrepo-com.svg"
              alt="facebook-icon"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../../images/footer/instagram-round-svgrepo-com.svg"
              alt="instagram-icon"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../../images/footer/twitter-round-svgrepo-com.svg"
              alt="twitter/x-icon"
          /></a>
        </li>
      </ul>
    </div>
    <div>
      <h4>Shop</h4>
      <ul class="footer-links">
        <li><a href="#">Shop</a></li>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Sale</a></li>
      </ul>
    </div>
    <div>
      <h4>About</h4>
      <ul class="footer-links">
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Our Philosophy</a></li>
        <li><a href="#">Contct Us</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>
    <div>
      <h4>Customer Care</h4>
      <ul class="footer-links">
        <li><a href="#">Shipping & Delivery</a></li>
        <li><a href="#">Return & Exchanges</a></li>
        <li><a href="#">Order Tracking</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
  </div>
  <div class="lower-foot">
    <small>Alright Reserve 2026 created by <a href="#">Jonathan</a></small>
    <ul>
      <li>
        <img src="../../images/footer/paypal-svgrepo-com.svg" alt="paypal" />
      </li>
      <li>
        <img src="../../images/footer/visa-logo-svgrepo-com.svg" alt="visa" />
      </li>
      <li>
        <img
          src="../../images/footer/mastercard-svgrepo-com.svg"
          alt="masstercard"
        />
      </li>
    </ul>
  </div>
</footer>
